@font-face {
	font-family: 'Hellix';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../assets/fonts/Hellix-Thin.woff') format('woff'), url('../assets/fonts/Hellix-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Hellix';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../assets/fonts/Hellix-Light.woff') format('woff'), url('../assets/fonts/Hellix-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Hellix';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../assets/fonts/Hellix-Regular.woff') format('woff'), url('../assets/fonts/Hellix-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Hellix';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../assets/fonts/Hellix-Medium.woff') format('woff'), url('../assets/fonts/Hellix-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Hellix';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../assets/fonts/Hellix-SemiBold.woff') format('woff'),
		url('../assets/fonts/Hellix-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Hellix';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../assets/fonts/Hellix-Bold.woff') format('woff'), url('../assets/fonts/Hellix-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Hellix';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('../assets/fonts/Hellix-ExtraBold.woff') format('woff'),
		url('../assets/fonts/Hellix-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Hubot';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../assets/fonts/Hubot-Sans-Regular.woff') format('woff'),
		url('../assets/fonts/Hubot-Sans-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Hubot';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../assets/fonts/Hubot-Sans-Bold.woff') format('woff'),
		url('../assets/fonts/Hubot-Sans-Bold.woff2') format('woff2');
	unicode-range: U+20, U+21, U+23, U+26-29, U+2C-33, U+35-38, U+3A, U+3F, U+41-57, U+61-7A, U+A9, U+E9, U+2013, U+2014,
		U+2026, U+2AF6, U+1F44B;
}
